doctype html
html(lang='en')
head 
  meta(charset="utf-8")
  title Callbox
  link(href="./styles/style.css", rel="stylesheet")
body.w-full.bg-grey-lighter.h-screen.flex.flex-col.justify-center
  .w-96.mx-auto.bg-white.shadow-md.rounded.p-8.mb-4
    h1.block.text-grey-darkest.font-bold.mb-2 New Box Created!
    p Send requests to #[a(href=`/${endpoint}`).underline holdenchoi.com/#{endpoint}]
    p.mt-5 Inspect requests at #[a(href=`/inspect/${endpoint}`).underline holdenchoi.com/inspect/#{endpoint}]
  p.text-grey.text-xs.text-center ©2021 Textrix.